* {
    font-family: "Courier New", sans-serif;
}

h1 {
    color: #36492e;
    background-color: #996848;
    text-align: center;
}

.menu {
    background-color: #e8e4da;
    padding: 20px;
    font-size: larger;
    font-weight: 800;
}
ul {
    background-color: #996848;
    padding: 12px;
    margin-left: 20px;
}
ul li {
    color: #840016;
}
ol {
    background-color: #e8e4da;
}
ol li {
    color: #36492e;
}
a:link {
    color: #840016;
}
a:visited {
    color: #54392d;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
}

button {
    font-weight: bold;
    font-size: larger;
}